@{
    ViewBag.Title = "Home Page";
}


<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/image/slider.png"> <!-- random image -->
            <div class="caption center-align" style="background: rgba(54, 25, 25, .5);">
                <h5>TRUSTED BY THE WORLD'S BEST SALES & MARKETING TEAMS!</h5>
                <div class="container">
                <p >Find sales leads with the #1 site for accurate business-to-business (B2B) email lists. Get the verified contact information of those in your target industry with us. It's never been easier to buy an email list of good information that will help you make real connections!</p>
            
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="row container">
    <div class="col s12 m6 l6">
        <div class="card red darken-4 small">
            <div class="card-content white-text center-align">
                <span class="card-title">Serach by Industry</span>
                <p>
                    we're all about bringing the right people together, so whether you need to pull a business, executive, or physician email list, we have the quality information you need.
                </p>
            </div>
            <div class="card-action center-align">
                <a class='dropdown-button btn-large black' href='Home/LinqIndustry' >Industry</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
        <div class="card red darken-4 small">
            <div class="card-content white-text center-align">
                <span class="card-title">Serach by State</span>
                <p>
                    Clients benefit from our data-ready product that's full of direct information you need to start emailing, calling, or mailing potential leads. With just a few easy steps, you'll have targeted email lists ready to be fed into your computer systems               
                </p>
            </div>
            <div class="card-action center-align">
                <a class='dropdown-button btn-large black' href='Home/LinqState'>State</a>
            </div>
        </div>
    </div>
</div>


